ion-content { 
    --ion-background-color:#E7D7BF; 
}

ion-toolbar, ion-header {
    --min-height: 100px;
}

.header {
    --background: rgba(175, 210, 139, 0.877);
}

.arrowIcon {
    font-size: 35px;
}

.headerText {
    font-family: 'Signika' !important;
    font-size: 1.8em;
    color: #FBFBFB;
    margin-left: 3vw;
}

.headerNumber {
    position: absolute;
    font-family: 'Signika' !important;
    font-size: 1.8em;
    margin-left: 11px;
    color: #FBFBFB;
    z-index: 3;
}

.imgLightCircle {
    position: absolute;
    width: 37px;
    z-index: 1;
}

.imgDarkCircle {
    position: absolute;
    margin-top: 4px;
    margin-left: 3.9px;
    width: 29px;
    z-index: 2;
}

.cardBody {
    background: #FFFFFF;
    margin: 40px 30px;
}

.gridHeader {
    margin-top: 48px;
}

.statement {
    background: rgba(175, 210, 139, 0.54);
    border-radius: 8px;
}

.statementText {
    font-family: 'Martel Sans';
    font-style: normal;
    font-size: 16px;
    color: #000000;
}

.caretIcon {
    font-size: 25px;
}

.bodyTitle {
    font-family: 'Martel Sans';
    font-style: normal;
    font-size: 26px;
    margin-top: 50px;
    color: #E2822E;
}

.explanatoryText {
    font-family: 'Martel Sans';
    font-style: normal;
    font-size: 16px;
    margin-top: 20px;
    color: #A7A7A7;
}

.explanatoryTextBold {
    color: #828282;
}

.secondGrid {
    margin: 0;
    min-width: 208px;
    margin-left: 14vw;
    min-height: 230px;
}

.firstGrid {
    margin: 0;
    min-width: 400px;
    min-height: 240px;
}

.divSecondGrid {
    margin: 0 auto;
    overflow-x: scroll;
}

.divfirstGrid {
    margin: 0 auto;
    overflow-x: scroll;
}

.secondLetters {
    cursor: pointer;
}

.lettersGrid {
    font-family: 'Martel Sans';
    position: absolute;
    font-size: 25px;
    margin-left: 7.5px;
    color: #000000;
    z-index: 2;
}

.imgcrosswordTemp {
    position: relative;
    width: 33px;
    z-index: 1;
}

.firstBirdText {
    position: absolute;
    font-family: 'Martel Sans';
    font-size: 15px;
    font-weight: 800;
    margin-left: 5px;
    color: #88CFE5;
}

.firstBirdArrow {
    position: absolute;
    color: #88CFE5;
    font-size: 30px;
    --ionicon-stroke-width: 50px;
    margin-left: 15px;
}

.secondBirdText {
    position: absolute;
    font-family: 'Martel Sans';
    font-size: 15px;
    font-weight: 800;
    color: #B6AAD4;
}

.secondBirdArrow {
    position: absolute;
    color: #B6AAD4;
    margin-left: 8px;
    width: 25px;
    --ionicon-stroke-width: 50px;
}

.thirdBirdText {
    position: absolute;
    font-family: 'Martel Sans';
    font-size: 15px;
    font-weight: 800;
    margin-left: 5px;
    margin-bottom: 5px;
    color: #F7ABC7;
}

.thirdBirdArrow {
    position: absolute;
    color: #F7ABC7;
    font-size: 30px;
    margin-top: 2px;
    margin-left: 2px;
    --ionicon-stroke-width: 50px;
}

.itemFirstGrid {
    margin-top: 20px;
}

.itemSecondGrid {
    margin-top: 10px;
}

.itemButton {
    margin: 50px auto 20px;
    height: 50px;
    text-transform: none;
}
  
.textButton {
    font-family: 'Martel Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    padding: 10px;
    
    /* identical to box height, or 150% */
  
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15px;
  
    color: #FFFFFF;
  
    /* Inside auto layout */
  
    flex: none;
    order: 1;
    flex-grow: 0;
}

@media screen and (min-width: 340px) {
    .divSecondGrid {
        margin: 0 auto;
        overflow-x: hidden;
    }
}

@media screen and (min-width: 378px) {
    .firstGrid {
        margin: 0;
        min-width: 400px;
    }

    .secondGrid {
        min-width: 208px;
        margin-left: 14vw;
    }

    .headerText {
        font-family: 'Signika' !important;
        font-size: 1.8em;
        color: #FBFBFB;
        margin: 0;
    }
}

@media screen and (min-width: 400px) {
    .headerText {
        margin-left: 2.5vw;
    }

    .statementText {
        font-size: 4vw;
    }

    .bodyTitle {
        font-size: 6.4vw;
    }

    .explanatoryText {
        font-size: 4vw;
    }

    .firstGrid {
        min-width: 400px;
        margin-left: 0vw;
    }

    .secondGrid {
        min-width: 208px;
        margin-left: 12vw;
    }

    .divfirstGrid {
        margin: 0 auto;
        overflow-x: hidden;
    }
}

@media screen and (min-width: 420px) {
    .firstGrid {
        min-width: 400px;
        margin-left: 2vw;
    }

    .secondGrid {
        min-width: 208px;
        margin-left: 10vw;
    }
}

@media screen and (min-width: 440px) {
    .firstGrid {
        min-width: 400px;
        margin-left: 4vw;
    }
}

@media screen and (min-width: 460px) {
    .firstGrid {
        min-width: 400px;
        margin-left: 6vw;
    }

    .secondGrid {
        min-width: 208px;
        margin-left: 10.5vw;
    }
}

@media screen and (min-width: 480px) {
    .firstGrid {
        min-width: 400px;
        margin-left: 8vw;
    }

    .secondGrid {
        min-width: 208px;
        margin-left: 10vw;
    }
}

@media screen and (min-width: 500px) {
    .headerText {
        margin-left: 2vw;
        font-size: 2em;
    }

    .statementText {
        font-size: 3.5vw;
    }

    .caretIcon {
        font-size: 5.5vw;
    }

    .bodyTitle {
        font-size: 5.8vw;
    }

    .explanatoryText {
        font-size: 3.5vw;
    }

    .firstGrid {
        min-width: 400px;
        margin-left: 10vw;
    }

    .secondGrid {
        min-width: 208px;
        margin-left: 9vw;
    }
}

@media screen and (min-width: 520px) {
    .firstGrid {
        min-width: 400px;
        margin-left: 11vw;
    }

    .secondGrid {
        min-width: 208px;
        margin-left: 8.2vw;
    }
}

@media screen and (min-width: 540px) {
    .firstGrid {
        min-width: 400px;
        margin-left: 12vw;
    }

    .secondGrid {
        min-width: 208px;
        margin-left: 7.4vw;
    }
}

@media screen and (min-width: 560px) {
    .firstGrid {
        min-width: 400px;
        margin-left: 13vw;
    }

    .secondGrid {
        min-width: 208px;
        margin-left: 6.5vw;
    }
}

@media screen and (min-width: 580px) {
    .firstGrid {
        min-width: 400px;
        margin-left: 14.3vw;
    }

    .secondGrid {
        min-width: 208px;
        margin-left: 5.5vw;
    }
}

@media screen and (min-width: 590px) {
    .firstGrid {
        min-width: 400px;
        margin-left: 14.7vw;
    }
}

@media screen and (min-width: 600px) {
    .statementText {
        font-size: 22px;
    }

    .caretIcon {
        font-size: 38px;
    }

    .bodyTitle {
        font-size: 36px;
    }

    .explanatoryText {
        font-size: 22px;
    }
    
    .firstGrid {
        min-width: 400px;
        margin-left: 15.6vw;
    }
}

@media screen and (min-width: 610px) {
    .firstGrid {
        min-width: 400px;
        margin-left: 16vw;
    }
}

@media screen and (min-width: 700px) {
    .firstGrid {
        min-width: 400px;
        margin-left: 14.5vw;
    }

    .secondGrid {
        min-width: 208px;
        margin-left: 5vw;
    }
}

@media screen and (min-width: 775px) {
    .firstGrid {
        min-width: 400px;
        margin-left: 13.5vw;
    }

    .secondGrid {
        min-width: 208px;
        margin-left: 4.7vw;
    }
}

@media screen and (min-width: 850px) {
    .firstGrid {
        min-width: 400px;
        margin-left: 12.8vw;
    }
}

@media screen and (min-width: 920px) {
    .firstGrid {
        min-width: 400px;
        margin-left: 12vw;
    }
}

@media screen and (min-width: 985px) {
    .firstGrid {
        min-width: 400px;
        margin-left: 11vw;
    }
}

@media screen and (min-width: 1050px) {
    .firstGrid {
        min-width: 400px;
        margin-left: 10vw;
    }
}

@media screen and (min-width: 1260px) {
    .firstGrid {
        min-width: 400px;
        margin-left: 9.2vw;
    }
}