<ion-content>
  <ion-item color="none" lines="none">
    <ion-text color="{{colorTitle}}" class="title">{{textTitle}}</ion-text>
  </ion-item>

  <ion-item color="none" lines="none">
    <ion-text class="subtitle">Alimentación</ion-text>
  </ion-item>

  <ion-item color="none" lines="none">
    <ion-text class="textBody thirdColor">Ave 2 Flor de manglar</ion-text>
  </ion-item>

  <ion-item color="none" lines="none">
    <ion-text class="subtitle">Recuerda</ion-text>
  </ion-item>

  <ion-item color="none" lines="none">
    <ion-img class="imgRemember" src="assets/sixth_remember.svg"></ion-img>
  </ion-item>

  <ion-item color="none" lines="none">
    <ion-button class="itemButton" color="lightGreen" (click)="continue()">
      <ion-text class="textButton">Continuar</ion-text>
    </ion-button>
  </ion-item>

</ion-content>