ion-content { 
    --ion-background-color:#E7D7BF; 
}

.cardBody {
    background: #FFFFFF;
    margin: 40px 30px;
}

.bodyTitle {
    font-family: 'Martel Sans';
    font-style: normal;
    font-size: 26px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    color: #E2822E;
}

.secondText {
    font-family: 'Martel Sans';
    font-style: normal;
    font-size: 26px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    color: #5D9331;
}

.explanatoryText {
    font-family: 'Martel Sans';
    font-style: normal;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    color: #A7A7A7;
}

.thirdText {
    font-family: 'Martel Sans';
    font-style: normal;
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    color: #5D9331;
}

.explanatoryTextBold {
    color: #828282;
}

.imgReward {
    margin: 0 auto;
    margin-top: 30px;
    width: 80%;
}

@media screen and (min-width: 430px) {
    .imgReward {
        width: 300px;
    }
}
