<ion-content>
  <ion-card class="cardBody">
    <ion-card-content>

      <ion-item color="none" lines="none">
        <ion-text class="bodyTitle"><b>{{textTitle[prizeWon]}}</b></ion-text>
      </ion-item>

      <ion-item color="none" lines="none">
        <ion-img class="imgReward" src="assets/{{rewards[prizeWon]}}"></ion-img>
      </ion-item>

      <ion-item *ngIf="this.prizeWon < 3" color="none" lines="none">
        <ion-text class="explanatoryText marginText"><b class="explanatoryTextBold">Diríjase a un guía o a la caseta para reclamar tu premio</b></ion-text>
      </ion-item>

      <ion-item color="none" lines="none">
        <ion-text class="secondText"><b>¡Muchas gracias por participar!</b></ion-text>
      </ion-item>

      <ion-item color="none" lines="none">
        <ion-text class="thirdText"><b>Esperamos que vuelvas pronto.</b></ion-text>
      </ion-item>

    </ion-card-content>
  </ion-card>
</ion-content>

