ion-content { 
    --ion-background-color:#E7D7BF; 
}

ion-toolbar, ion-header {
    --min-height: 100px;
}

.header {
    --background: rgba(175, 210, 139, 0.877);
}

.arrowIcon {
    font-size: 35px;
}

.headerText {
    font-family: 'Signika' !important;
    font-size: 1.8em;
    color: #FBFBFB;
    margin-left: 3vw;
}

.headerNumber {
    position: absolute;
    font-family: 'Signika' !important;
    font-size: 1.8em;
    margin-left: 11px;
    color: #FBFBFB;
    z-index: 3;
}

.imgLightCircle {
    position: absolute;
    width: 37px;
    z-index: 1;
}

.imgDarkCircle {
    position: absolute;
    margin-top: 4px;
    margin-left: 3.9px;
    width: 29px;
    z-index: 2;
}

.cardBody {
    background: #FFFFFF;
    margin: 40px 30px;
}

.gridHeader {
    margin-top: 48px;
}

.statement {
    background: rgba(175, 210, 139, 0.54);
    border-radius: 8px;
}

.statementText {
    font-family: 'Martel Sans';
    font-style: normal;
    font-size: 16px;
    color: #000000;
}

.caretIcon {
    font-size: 25px;
}

.bodyTitle {
    font-family: 'Martel Sans';
    font-style: normal;
    font-size: 26px;
    margin-top: 50px;
    color: #E2822E;
}

.explanatoryText {
    font-family: 'Martel Sans';
    font-style: normal;
    font-size: 16px;
    margin-top: 20px;
    color: #A7A7A7;
}

.explanatoryTextBold {
    color: #828282;
}

.imgHieroglyphs {
    margin: 0 auto;
    margin-top: 30px;
    width: 100%;
}

.imgHieroglyphsCode {
    margin: 30px auto;
    width: 100%;
}

.textCenter{
    margin: 0 auto;
    margin-top: 50px;
}

.firstBirdText {
    position: absolute;
    margin-top: 10.5vw;
    margin-left: 50vw;
    font-family: 'Martel Sans';
    font-size: 3vw;
    font-weight: 800;
    color: #88CFE5;
}

.firstBirdArrow {
    position: absolute;
    margin-top: 9.5vw;
    margin-left: 43vw;
    color: #88CFE5;
    font-size: 6vw;
    --ionicon-stroke-width: 50px;
}

.secondBirdText {
    position: absolute;
    margin-top: 10.5vw;
    margin-left: 50vw;
    font-family: 'Martel Sans';
    font-size: 3vw;
    font-weight: 800;
    color: #B6AAD4;
}

.secondBirdArrow {
    position: absolute;
    margin-top: 9.5vw;
    margin-left: 43vw;
    color: #B6AAD4;
    font-size: 6vw;
    --ionicon-stroke-width: 50px;
}

.thirdBirdText {
    position: absolute;
    margin-top: 10.5vw;
    margin-left: 50vw;
    font-family: 'Martel Sans';
    font-size: 3vw;
    font-weight: 800;
    color: #F7ABC7;
}

.thirdBirdArrow {
    position: absolute;
    margin-top: 9.5vw;
    margin-left: 43vw;
    color: #F7ABC7;
    font-size: 6vw;
    --ionicon-stroke-width: 50px;
}

.inputElement {
    font-size: 15px;
}
  
.itemInput {
    width: 100%;
    margin: 0 auto;
}

.itemMsg {
    font-size: 14px;
    margin: 0 auto;
}

.itemButton {
    margin: 50px auto 20px;
    height: 50px;
    text-transform: none;
}
  
.textButton {
    font-family: 'Martel Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    padding: 10px;
    
    /* identical to box height, or 150% */
  
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15px;
  
    color: #FFFFFF;
  
    /* Inside auto layout */
  
    flex: none;
    order: 1;
    flex-grow: 0;
}

@media screen and (min-width: 280px) {
    .inputElement {
        font-size: 6vw;
    }
    
    .itemMsg {
        font-size: 5.6vw;
        margin: 0 auto;
    }
}

@media screen and (min-width: 350px) {
    .inputElement {
        font-size: 22px;
    }
    
    .itemMsg {
        font-size: 21px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 400px) {
    .headerText {
        margin-left: 2.5vw;
    }

    .statementText {
        font-size: 4vw;
    }

    .bodyTitle {
        font-size: 6.4vw;
    }

    .explanatoryText {
        font-size: 4vw;
    }

    .firstBirdText {
        margin-left: 60vw;
        font-size: 4vw;
    }
    
    .firstBirdArrow {
        margin-left: 53vw;
        font-size: 7vw;
    }

    .secondBirdText {
        margin-left: 60vw;
        font-size: 4vw;
    }
    
    .secondBirdArrow {
        margin-left: 53vw;
        font-size: 7vw;
    } 

    .thirdBirdText {
        margin-left: 60vw;
        font-size: 4vw;
    }
    
    .thirdBirdArrow {
        margin-left: 53vw;
        font-size: 7vw;
    }
}

@media screen and (min-width: 485px) {
    .itemInput {
        width: 300px;
    }
}

@media screen and (min-width: 500px) {
    .headerText {
        margin-left: 2vw;
        font-size: 2em;
    }

    .statementText {
        font-size: 3.5vw;
    }

    .caretIcon {
        font-size: 5.5vw;
    }

    .bodyTitle {
        font-size: 5.8vw;
    }

    .explanatoryText {
        font-size: 3.5vw;
    }

    .firstBirdText {
        margin-left: 65vw;
        font-size: 3.5vw;
    }
    
    .firstBirdArrow {
        margin-left: 58vw;
        font-size: 6.5vw;
    }

    .secondBirdText {
        margin-left: 65vw;
        font-size: 3.5vw;
    }
    
    .secondBirdArrow {
        margin-left: 58vw;
        font-size: 6.5vw;
    } 

    .thirdBirdText {
        margin-left: 65vw;
        font-size: 3.5vw;
    }
    
    .thirdBirdArrow {
        margin-left: 58vw;
        font-size: 6.5vw;
    }
}

@media screen and (min-width: 600px) {
    .statementText {
        font-size: 22px;
    }

    .caretIcon {
        font-size: 38px;
    }

    .bodyTitle {
        font-size: 36px;
    }

    .explanatoryText {
        font-size: 22px;
    }

    .firstBirdText {
        margin-left: 68vw;
        font-size: 3vw;
    }
    
    .firstBirdArrow {
        margin-left: 61vw;
        font-size: 6vw;
    }

    .secondBirdText {
        margin-left: 68vw;
        font-size: 3vw;
    }
    
    .secondBirdArrow {
        margin-left: 61vw;
        font-size: 6vw;
    } 

    .thirdBirdText {
        margin-left: 68vw;
        font-size: 3vw;
    }
    
    .thirdBirdArrow {
        margin-left: 61vw;
        font-size: 6vw;
    }

    .imgHieroglyphsCode {
        width: 80%;
    }
}