<ion-header>
  <ion-toolbar class="header">
    <ion-grid class="gridHeader">
      <ion-row>
        <ion-col size="auto">
          <ion-icon (click)="back()" class="arrowIcon" name="arrow-back"></ion-icon>
        </ion-col>
        <ion-col size="1.4" size-sm="1" size-md="0.8" size-lg="0.6" size-xl="0.4">
          <ion-text class="headerNumber">6</ion-text>
          <ion-img class="imgLightCircle" src="assets/light_green_circle.svg"></ion-img>
          <ion-img class="imgDarkCircle" src="assets/dark_green_circle.svg"></ion-img>
        </ion-col>
        <ion-col size="auto">
          <ion-text class="headerText">Controladores</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="cardBody">
    <ion-card-content>
      <ion-item class="statement" color="statementGreen" lines="none">
        <ion-grid>
          <ion-row>
            <ion-col size="auto">
              <ion-icon color="darkGreen" class="caretIcon" name="caret-forward"></ion-icon>
            </ion-col>
            <ion-col>
              <ion-text class="statementText"><b>La dieta</b> del ave 2 <b>es aún más diversa</b>, veámos.</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item color="none" lines="none">
        <ion-text class="bodyTitle"><b>Une las letras</b></ion-text>
      </ion-item>

      <ion-item color="none" lines="none">
        <ion-text class="explanatoryText">Escribe el nombre de las aves, luego <b class="explanatoryTextBold">cambia el recuadro de color</b> en la palabra inferior por las letras marcadas.</ion-text>
      </ion-item>
      <form [formGroup]="firstForm">
        <section *ngFor="let bird of birdsActivity; let i = index">
          <ion-item color="none" lines="none">
            <div class="center">
              <ion-grid>
                <ion-row>
                  <ion-col size="auto">
                    <ion-img class="imgBirds" src="assets/{{birdsActivity[i]}}_bird_activity_five.svg"></ion-img>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col *ngFor="let template of templatesActivity[i]; let j = index" size="1.6">
                    <ion-text *ngIf="this.bird_names[i].length > j" class="imgText"><ion-text *ngIf="this.bird_text[i].charAt(j) == 'I'">&nbsp;</ion-text>{{this.bird_text[i].charAt(j)}}</ion-text>
                    <ion-img class="imgColor" src="assets/{{templatesActivity[i][j]}}.svg"></ion-img>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ion-item>
          <ion-item class="itemInput" color="none">
            <ion-label color="medium" class="inputElement" position="floating">Nombre {{i+1}}</ion-label>
            <ion-input (ngModelChange)="modelChanged($event, i)" onkeydown="return /[a-z,ñ]/i.test(event.key)" type="text" formControlName="{{birdsActivity[i]}}" color="medium" class="inputElement"></ion-input>
          </ion-item>
        
          <!-- Validation incorrect -->
          <ion-item color="none" lines="none">
            <ion-text class="itemMsg" *ngIf="!firstForm.get(birdsActivity[i]).valid && firstForm.get(birdsActivity[i]).touched" color="danger">
              Ingrese el nombre del ave.
            </ion-text>
          </ion-item>
        </section>
      </form>

      <ion-item color="none" lines="none">
        <div class="center">
          <ion-grid>
            <ion-row>
              <ion-col *ngFor="let template of templatesResponse; let i = index" size="2.1">
                <ion-text *ngIf="this.bird_names[3].length > i" class="imgTextSecond"><ion-text *ngIf="this.bird_text[3].charAt(i) == 'I'">&nbsp;</ion-text>{{this.bird_text[3].charAt(i)}}</ion-text>
                <ion-img class="imgColorSecond" src="assets/{{templatesResponse[i]}}.svg"></ion-img>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-item>

      <form [formGroup]="secondForm">
        <ion-item class="itemInput" color="none">
          <ion-label color="secondBirdColor" class="inputElement" position="floating">Ave 2</ion-label>
          <ion-input (ngModelChange)="modelChanged($event, 3)" onkeydown="return /[a-z,ñ]/i.test(event.key)" type="text" formControlName="name" color="secondBirdColor" class="inputElement"></ion-input>
        </ion-item>
    
        <!-- Validation incorrect -->
        <ion-item color="none" lines="none">
          <ion-text class="itemMsg" *ngIf="!secondForm.get('name').valid && secondForm.get('name').touched" color="danger">
            Ingrese el nombre.
          </ion-text>
        </ion-item>
      </form>

      <ion-item color="none" lines="none">
        <ion-button class="itemButton" color="lightGreen" (click)="confirmAlert()">
          <ion-text class="textButton">Listo</ion-text>
        </ion-button>
      </ion-item>

    </ion-card-content>
  </ion-card>
</ion-content>
