<ion-content>
  <ion-item color="none" lines="none">
    <ion-text color="correctAnswer" class="title">Pistas recolectadas</ion-text>
  </ion-item>

  <section *ngFor="let subtitleBird of titles; let i = index">
    <ion-item color="none" lines="none">
      <ion-text class="subtitle">{{titles[i]}}</ion-text>
    </ion-item>

    <ion-item color="none" lines="none">
      <ion-img *ngIf="i == 2" class="circle" src="assets/{{colors[numBird]}}"></ion-img>
      <ion-text class="textBody" color="{{colorBird}}">{{answers[numBird][i]}}</ion-text>
    </ion-item>
  </section>

  <ion-item color="none" lines="none">
    <ion-button class="itemButton" color="lightGreen" (click)="close()">
      <ion-text class="textButton">Cerrar</ion-text>
    </ion-button>
  </ion-item>

</ion-content>