ion-content { 
    --ion-background-color:#E7D7BF; 
}

ion-toolbar, ion-header {
    --min-height: 100px;
}

.header {
    --background: rgba(175, 210, 139, 0.877);
}

.arrowIcon {
    font-size: 30px;
}

.helpIconHeader {
    font-size: 30px;
    float: right;
    color: #5D9331;
}

.headerText {
    font-family: 'Signika' !important;
    font-size: 1.4em;
    color: #FBFBFB;
    margin-left: 3vw;
}

.headerNumber {
    position: absolute;
    font-family: 'Signika' !important;
    font-size: 1.4em;
    margin-left: 9px;
    margin-top: 2px;
    color: #FBFBFB;
    z-index: 3;
}

.imgLightCircle {
    position: absolute;
    width: 30px;
    z-index: 1;
}

.imgDarkCircle {
    position: absolute;
    margin-top: 4px;
    margin-left: 3.9px;
    width: 22px;
    z-index: 2;
}

.cardBody {
    background: #FFFFFF;
    margin: 40px 30px;
}

.gridHeader {
    margin-top: 48px;
}

.statement {
    background: rgba(175, 210, 139, 0.54);
    border-radius: 8px;
}

.statementText {
    font-family: 'Martel Sans';
    font-style: normal;
    font-size: 16px;
    color: #000000;
}

.caretIcon {
    font-size: 25px;
}

.bodyTitle {
    font-family: 'Signika';
    font-style: normal;
    font-size: 22px;
    margin-top: 50px;
}

.firstColorTitle {
    color: #E2822E;
}

.secondColorTitle {
    color: #5D9331;
}

.explanatoryText {
    font-family: 'Martel Sans';
    font-style: normal;
    font-size: 16px;
    margin: 0 auto;
    margin-top: 20px;
    color: #A7A7A7;
}

.explanatoryTextBold {
    color: #828282;
}

.imgRecord {
    margin: 0 auto;
    margin-top: 30px;
    width: 100%;
}

.helpIcon {
    position: absolute;
    color: #828282;
    font-size: 7vw;
}

.feedingBirds {
    width: 17vw;
}

.textRadio {
    font-family: 'Martel Sans';
    font-style: normal;
    font-size: 5vw;
    color: #828282;
}

.radioStyle {
    width: 5vw;
    height: 5vw;
}

.itemButton {
    margin: 50px auto 20px;
    height: 50px;
    text-transform: none;
}
  
.textButton {
    font-family: 'Martel Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    padding: 10px;
    
    /* identical to box height, or 150% */
  
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15px;
  
    color: #FFFFFF;
  
    /* Inside auto layout */
  
    flex: none;
    order: 1;
    flex-grow: 0;
}

@media screen and (min-width: 350px) {
    .imgRecord {
        width: 80%;
    }

    .helpIcon {
        font-size: 6vw;
    }
}

@media screen and (min-width: 400px) {
    .headerText {
        margin-left: 2.5vw;
    }

    .statementText {
        font-size: 4vw;
    }

    .bodyTitle {
        font-size: 6.4vw;
    }

    .explanatoryText {
        font-size: 4vw;
    }

    .imgRecord {
        width: 70%;
    }

    .helpIcon {
        font-size: 5vw;
    }
}

@media screen and (min-width: 500px) {
    .headerText {
        margin-left: 1vw;
        font-size: 1.5em;
    }

    .statementText {
        font-size: 3.5vw;
    }

    .caretIcon {
        font-size: 5.5vw;
    }

    .bodyTitle {
        font-size: 5.8vw;
    }

    .explanatoryText {
        font-size: 3.5vw;
    }

    .imgRecord {
        width: 50%;
    }

    .helpIcon {
        font-size: 4.5vw;
    }

    .feedingBirds {
        width: 90px;
    }
    
    .textRadio {
        font-size: 26px;
    }
    
    .radioStyle {
        width: 22px;
        height: 22px;
    }
}

@media screen and (min-width: 600px) {
    .statementText {
        font-size: 22px;
    }

    .caretIcon {
        font-size: 38px;
    }

    .bodyTitle {
        font-size: 36px;
    }

    .explanatoryText {
        font-size: 22px;
    }

    .helpIcon {
        font-size: 25px;
    }
}