<ion-content [fullscreen]="true">
  <ion-img class="imgDecoration" src="assets/Decoration.png"></ion-img>
  <!-- small size -->
  <ion-item *ngIf="!this.smallSize" class="itemHeader" color="none" lines="none">
  <ion-img class="imgFeather" src="assets/Feathers.png"></ion-img>
  <h2 class="title">Bienvenidos</h2>
  </ion-item>

  <!-- big size -->
  <ion-item *ngIf="this.smallSize" class="itemHeader" color="none" lines="none">
    <ion-img class="imgFeather" src="assets/Feathers.png"></ion-img>
  </ion-item>
  <ion-item *ngIf="this.smallSize" class="itemHeader" color="none" lines="none">
    <h2 class="title">Bienvenidos</h2>
  </ion-item>

  <ion-item class="marginTopElements" color="none" lines="none">
    <ion-text class="introductionText">Aventúrese en la experiencia de encontrar las aves perdidas por el recorrido. En cada estación encontrará diferentes pruebas que debe superar, demuestre sus habilidades y aprenda sobre las aves en el Monumento.</ion-text>
  </ion-item>

  <ion-img class="marginTopElements" src="assets/Decoration.png"></ion-img>

  <ion-item class="marginTopElements" color="none" lines="none">
    <ion-text class="introductionText">Escriba su nombre para comenzar</ion-text>
  </ion-item>
  <form [formGroup]="nameForm">
    <ion-item class="itemInput" color="none">
      <ion-label color="darkGreen" class="inputElement marginTopElements" position="floating">Escriba su nombre</ion-label>
      <ion-input formControlName="name" color="darkGreen" class="inputElement"></ion-input>
    </ion-item>

    <!-- Validation incorrect -->
    <ion-item class="itemInput" color="none" lines="none">
      <ion-text class="itemInput" *ngIf="!nameForm.get('name').valid && nameForm.get('name').touched" color="danger">
        <p>Ingrese su nombre para comenzar.</p>
      </ion-text>
    </ion-item>
  </form>

  <ion-item color="none" lines="none">
    <ion-button class="itemButton" color="darkGreen" (click)="setOpen(true)">
      <ion-text class="textButton">Comenzar</ion-text>
    </ion-button>
  </ion-item>
  
  <ion-img class="marginTopEnd" src="assets/Decoration.png"></ion-img>

  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar color="statementGreen">
          <ion-title>Aviso</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Continuar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p class="introductionText">
          Las aves que se mostrarán durante el recorrido son para fines didácticos con el objetivo de resolver las actividades, por lo que no todas están presentes en el Monumento Guayabo. Sin embargo, todas son pertenecientes a especies que se encuentran en Costa Rica.
        </p>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
