<ion-content [fullscreen]="true">
  <ion-img class="imgDecoration" src="assets/Decoration.png"></ion-img>
  <!-- small size -->
  <ion-item *ngIf="!this.smallSize" class="itemHeader" color="none" lines="none">
  <ion-img class="imgFeather" src="assets/Feathers.png"></ion-img>
  <h2 class="title">Bienvenidos</h2>
  </ion-item>

  <!-- big size -->
  <ion-item *ngIf="this.smallSize" class="itemHeader" color="none" lines="none">
    <ion-img class="imgFeather" src="assets/Feathers.png"></ion-img>
  </ion-item>
  <ion-item *ngIf="this.smallSize" class="itemHeader" color="none" lines="none">
    <h2 class="title">Bienvenidos</h2>
  </ion-item>

  <ion-item class="marginTopElements" color="none" lines="none">
    <ion-text class="introductionText">Aventúrese en la experiencia de encontrar las aves perdidas por el recorrido. En cada estación encontrará diferentes pruebas que debe superar, demuestre sus habilidades y aprenda sobre las aves en el Monumento.</ion-text>
  </ion-item>

  <ion-img class="marginTopElements" src="assets/Decoration.png"></ion-img>

  <ion-item class="marginTopElements" color="none" lines="none">
    <ion-text class="introductionText">Escriba su nombre para comenzar</ion-text>
  </ion-item>
  <form [formGroup]="nameForm">
    <ion-item class="itemInput" color="none">
      <ion-label color="darkGreen" class="inputElement marginTopElements" position="floating">Escriba su nombre</ion-label>
      <ion-input formControlName="name" color="darkGreen" class="inputElement"></ion-input>
    </ion-item>

    <!-- Validation incorrect -->
    <ion-item class="itemInput" color="none" lines="none">
      <ion-text class="itemInput" *ngIf="!nameForm.get('name').valid && nameForm.get('name').touched" color="danger">
        <p>Ingrese su nombre para comenzar.</p>
      </ion-text>
    </ion-item>
  </form>

  <ion-item color="none" lines="none">
    <ion-button class="itemButton" color="darkGreen" (click)="startTour()">
      <ion-text class="textButton">Comenzar</ion-text>
    </ion-button>
  </ion-item>
  
  <ion-img class="marginTopEnd" src="assets/Decoration.png"></ion-img>
</ion-content>
