<ion-content>
  <ion-item color="none" lines="none">
    <ion-text color="{{colorTitle}}" class="title">{{textTitle}}</ion-text>
  </ion-item>

  <ion-item color="none" lines="none">
    <ion-text class="subtitle">Tipos de pico</ion-text>
  </ion-item>

  <ion-item color="none" lines="none">
    <ion-text class="textBody firstColor">Ave 1 Grave</ion-text>
  </ion-item>
  <ion-item color="none" lines="none">
    <ion-text class="textBody secondColor">Ave 2 Potente</ion-text>
  </ion-item>
  <ion-item color="none" lines="none">
    <ion-text class="textBody thirdColor">Ave 3 Agudo</ion-text>
  </ion-item>

  <ion-item color="none" lines="none">
    <ion-text class="subtitle">Recuerda</ion-text>
  </ion-item>

  <ion-item color="none" lines="none">
    <ion-img class="imgRemember" src="assets/second_remember.svg"></ion-img>
  </ion-item>

  <ion-item color="none" lines="none">
    <ion-button class="itemButton" color="lightGreen" (click)="continue()">
      <ion-text class="textButton">Listo</ion-text>
    </ion-button>
  </ion-item>

</ion-content>