<ion-content [fullscreen]="true">
  <ion-item color="none" lines="none">
    <ion-text class="title">Recorrido del sendero</ion-text>
  </ion-item>

  <ion-item color="none" lines="none">
    <ion-img class="imgMap" src="assets/first_map.svg"></ion-img>
  </ion-item>

  <ion-item color="none" lines="none">
    <ion-text class="subtitle">Estaciones</ion-text>
  </ion-item>

  <ion-item color="none" lines="none">
    <ion-img class="imgCircle circleFirstMargin" src="assets/dark_green_circle.svg"></ion-img>
    <ion-text class="num numPadding firstMargin">1</ion-text>
    <ion-text class="stations firstMargin">Bienvenida</ion-text>
  </ion-item>
  <ion-item color="none" lines="none">
    <ion-img class="imgCircle" src="assets/dark_green_circle.svg"></ion-img>
    <ion-text class="num numPadding">2</ion-text>
    <ion-text class="stations">Alimentación</ion-text>
  </ion-item>
  <ion-item color="none" lines="none">
    <ion-img class="imgCircle" src="assets/dark_green_circle.svg"></ion-img>
    <ion-text class="num numPadding">3</ion-text>
    <ion-text class="stations">Canto</ion-text>
  </ion-item>
  <ion-item color="none" lines="none">
    <ion-img class="imgCircle" src="assets/dark_green_circle.svg"></ion-img>
    <ion-text class="num numPadding">4</ion-text>
    <ion-text class="stations">Hábitos diarios</ion-text>
  </ion-item>
  <ion-item color="none" lines="none">
    <ion-img class="imgCircle" src="assets/dark_green_circle.svg"></ion-img>
    <ion-text class="num numPadding">5</ion-text>
    <ion-text class="stations">Dispersores naturales</ion-text>
  </ion-item>
  <ion-item color="none" lines="none">
    <ion-img class="imgCircle" src="assets/dark_green_circle.svg"></ion-img>
    <ion-text class="num numPadding">6</ion-text>
    <ion-text class="stations">Controladores biológicos</ion-text>
  </ion-item>
  <ion-item color="none" lines="none">
    <ion-img class="imgCircle" src="assets/dark_green_circle.svg"></ion-img>
    <ion-text class="num numPadding">7</ion-text>
    <ion-text class="stations">Polinizadores naturales</ion-text>
  </ion-item>
  <ion-item color="none" lines="none">
    <ion-img class="imgCircle" src="assets/dark_green_circle.svg"></ion-img>
    <ion-text class="num numPadding">8</ion-text>
    <ion-text class="stations">Relevancia arqueológica</ion-text>
  </ion-item>

  <ion-item color="none" lines="none">
    <ion-text class="secondSubtitle">Señales</ion-text>
  </ion-item>

  <ion-item color="none" lines="none">
    <ion-icon class="signals" name="location-sharp" color="danger"></ion-icon>
    <ion-text class="signalsText">Ubicación actual</ion-text>
  </ion-item>
  <ion-item color="none" lines="none">
    <ion-img class="imgArrow" src="assets/arrow.svg"></ion-img>
    <ion-text class="signalsText signalsTextSecond">Siguiente destino</ion-text>
  </ion-item>

  <ion-item color="none" lines="none">
    <ion-button class="itemButton" color="darkGreen" (click)="startTour()">
      <ion-text class="textButton">Avanzar</ion-text>
    </ion-button>
  </ion-item>

</ion-content>
